

.tweet{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


button{
  background-color: blue;
  color: white;
  font-family: 'Bungee', cursive ;
}

.charCounter{
  display: flex;
  font-family: 'Bungee', cursive;
}

.negativeCounter{
  color: red;
  font-family: 'Bungee', cursive;
}

textarea{
  background-color: transparent;
  color: whitesmoke;
  flex-grow: 1;
  border: none;
  height: 40px;
  border-bottom: 2px solid white;
  
}

form{
  display: flex;
  flex-direction: column;
}

.tweeted{
  display: flex;
  border-color: aliceblue;
  border-style: solid;
  flex-direction: column;
}

.tweeted header{
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.tweeted div.name{
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2.5%;
  border: none;
  border-bottom: solid;
}

.tweeted footer{
  display: flex;
  justify-content: space-between;
  font-size: medium;
  margin: 1%;
  
}

.tweeted div.handle{
  display: flex;
  color: lightcoral;
}

.tweeted div.personName{
  color: red;
}

.tweeted div.icons{
  color: red;

}
